html {
  scroll-behavior: smooth;
  margin: 0px;
}
body {
  display: block;
  text-align: center;
  margin: auto;
  background-color: RGB(245,245,239);
  color: red;
  font-family: "Hershey-Noailles-Futura", "helvetica", sans-serif;
  font-size: 30px;
  height: 100vh;
}
img {
  padding-bottom: 10px;
  padding: 44px;
}
nav {
  padding: 30px;
  position: fixed;
  top: 0; left: 0; right: 0;
  margin: auto;
  padding-bottom: 50px;
  border-left: thin dotted red;
  border-right: thin dotted red;
  border-bottom: thin solid green;
  width: 45vw;
  font-family: "Hershey-Noailles-Futura", "helvetica", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  background-color: RGB(245,245,239);
}
a, a:visited {
  color: red;
  text-decoration: none;
}
a:hover {
  text-decoration: underline dotted red 1px;
}
li /** menu items **/{
  font-size: 20px;
  font-weight: normal;
  list-style-type: none;
}
h1 /** nav categories **/ {
  font-size: 25px;
  border: thin dotted;
  border-radius: 100%;
  height: 10vw;
  width: 20vw;
  margin-top: 70px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vw;
}
h2 /** subheads **/ {
  font-size: 25px;
  font-style: italic;
  display: flex;
  justify-content: center;
  padding: 30px;
}
h3 /** description **/ {
  font-size: 15px;
  font-style: italic;
  margin: 5px;

}
h4 /** price **/ {
  font-family: "Sofia Pro", "helvetica", sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 35px;
}
h5 /** more info **/ {
  font-size: 20px;
  font-style: italic;
  line-height: .75em;
  margin-bottom: 40px;
}
p {
  font-family: "Sofia Pro", "helvetica", sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
}

.more-info {
  padding: 10px;
  color: black;
}
.price {
  font-size: 20px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 40px;

}
p {
  text-align: justify;
  font-size: 20px;
  padding: 33px;
}
.button {
  display: inline-block;
  border-left: thin dotted red;
  border-right: thin dotted red;
  border-bottom: thin dotted green;
  border-top: thin dotted red;
  width: 20vw;
  font-family: "Hershey-Noailles-Futura", "helvetica", sans-serif;
}
.button:hover {
  border-bottom: thin solid green;
}
a.button {
  display: block;
  text-decoration: none;
}
.nav-links {
  padding: 10px;
}
.home {
  padding-top: 15vh;
}
#logo {
  width: 7vw;
  padding: 0;
  position: fixed;
  bottom: 5vh; left: 5vh;
}
#menu, #about, #photos {
  padding-top: 15vh;
}
.column {
  display: inline-flex;
  width: 25%;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#appetizers-salad-container, #rolls-container {
  border-top: solid green;
}
.skip-to-content-link {
  position: absolute;
  transform: translateY(-200%);
}
.skip-to-content-link:focus {
  transform: translateY(0%);
}
#skip-nav {
  text-align: left;
  display: flex;
}
@font-face {
  font-family: "Hershey-Noailles-Futura";
  src: url('http://hershey-noailles.luuse.io/output/Hershey-Noailles-Futura-Simplex-Regular/Hershey-Noailles-Futura-Simplex-Regular.woff') format (woff);
}
Sofia Pro {
  font-family: "Sofia Pro", "helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}
